<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ClientId</key>
    <string>RtWdoHQ6Wt6fDY8qNie08BxHtaSg5Qyk</string>
    <key>Domain</key>
    <string>not-toast.us.auth0.com</string>
</dict>
</plist>
